# Ignore these directories
www/
.vscode/
custom_settings.txt

# Ignore all files and subdirectories in addons/ and scripts/
addons/*
scripts/*

# Whitelist specific subdirectories in addons/ and scripts/
!addons/xray-ui/
!scripts/xrayui
