<!DOCTYPE html>
<html lang="en">
  <head>
    <!--page:xrayui-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="icon" href="images/favicon.png" />
    <title>X-RAY Server</title>
    <link rel="stylesheet" type="text/css" href="index_style.css" />
    <link rel="stylesheet" type="text/css" href="form_style.css" />
    <link rel="stylesheet" type="text/css" href="/js/table/table.css" />

    <script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/httpApi.js"></script>
    <script language="JavaScript" type="text/javascript" src="/state.js"></script>
    <script language="JavaScript" type="text/javascript" src="/general.js"></script>
    <script language="JavaScript" type="text/javascript" src="/popup.js"></script>
    <script language="JavaScript" type="text/javascript" src="/help.js"></script>
    <script language="JavaScript" type="text/javascript" src="/validator.js"></script>
    <script>
      var xray = {
        router: {
          name: '<% nvram_get("productid"); %>',
          cpu: JSON.parse('<%cpu_core_num();%>'),
          firmware: '<% nvram_get("firmver"); %>',
          language: '<% nvram_get("preferred_lang"); %>',
          ip: '<% nvram_get("lan_ipaddr"); %>',
          territory: '<% nvram_get("territory_code"); %>',
          devices_online: JSON.parse(`<% get_clientlist(); %>`),
          devices: JSON.parse(`<% get_all_basic_clientlist(); %>`),
          wan_ip: '<% nvram_get("wan_ipaddr"); %>',
          wan_connected: '<% nvram_get("link_internet"); %>' == '2',
          features: '<% nvram_get("rc_support"); %>'
        },
        server: {
          isRunning: parseInt('<% sysinfo("pid.xray"); %>') > 0
        }
      };
      let custom_settings = `<% get_custom_settings(); %>`;

      try {
        xray.custom_settings = JSON.parse(custom_settings);
      } catch (e) {
        if (custom_settings.indexOf('xray_payload') !== -1) {
          console.error("Invalid custom settings: xray_payload detected. Please  run '/jffs/scripts/xrayui fixme'. This is unexpected, please report.");
        }
      }
    </script>
  </head>

  <body>
    <div id="xrayui-app"></div>
    <div id="xrayui-modals"></div>
    <script>
      if (xray.router.wan_connected) {
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = 'https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css';
        document.head.appendChild(link);
      }
      window.addEventListener('load', function () {
        if (xray.router.features) {
          if (xray.router.features.indexOf('rog') !== -1) {
            document.body.classList.add('xrayui-rog');
          } else if (xray.router.features.indexOf('tuf') !== -1) {
            document.body.classList.add('xrayui-tuf');
          }
        }
      });
    </script>
    <script type="module" src="/ext/xrayui/app.js"></script>
  </body>
</html>
