<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!--page:xrayui-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="icon" href="images/favicon.png" />
    <title>X-RAY Server</title>
    <link rel="stylesheet" type="text/css" href="index_style.css" />
    <link rel="stylesheet" type="text/css" href="form_style.css" />
    <link rel="stylesheet" type="text/css" href="/js/table/table.css" />

    <script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/httpApi.js"></script>
    <script language="JavaScript" type="text/javascript" src="/state.js"></script>
    <script language="JavaScript" type="text/javascript" src="/general.js"></script>
    <script language="JavaScript" type="text/javascript" src="/popup.js"></script>
    <script language="JavaScript" type="text/javascript" src="/help.js"></script>
    <script language="JavaScript" type="text/javascript" src="/validator.js"></script>
    <script>
      var xray = {
        custom_settings: JSON.parse(`<% get_custom_settings(); %>`),
        router: {
          name: '<% nvram_get("productid"); %>',
          cpu: JSON.parse("<%cpu_core_num();%>"),
          firmware: '<% nvram_get("firmver"); %>',
          language: '<% nvram_get("preferred_lang"); %>',
          ip: '<% nvram_get("lan_ipaddr"); %>',
          territory: '<% nvram_get("territory_code"); %>',
          features: JSON.parse(`<% get_ui_support(); %>`)
        },
        server: {
          isRunning: parseInt('<% sysinfo("pid.xray"); %>') > 0
        },
        commands: {
          testConfig: "xrayui_testconfig",
          clientsOnline: "xrayui_connectedclients",
          refreshConfig: "xrayui_refreshconfig",
          serverStart: "xrayui_serverstatus_start",
          serverRestart: "xrayui_serverstatus_restart",
          serverStop: "xrayui_serverstatus_stop",
          clientDelete: "xrayui_client_delete",
          clientAdd: "xrayui_client_add"
        }
      };
    </script>
  </head>

  <body>
    <div id="xrayui-app"></div>
    <div id="xrayui-modals"></div>
    <script src="/ext/xrayui/app.js"></script>
    <script>
      window.xray_hints = {};
    </script>
  </body>
</html>
